.detail-container {
  width: 100%;
  height: 183px;
}

.swiper-container {
  position: relative;
}

.slide-img {
  position: relative;
  object-fit: contain;
  /* position: relative; */
}



.info-wrapper {
  width: 100%;
  position: absolute;
bottom: 13px;
left: 17px;

row-gap: 5px;
/* 
  display: flex;
  flex-direction: column; */

}

.img-div {
  height: 162px;
  border-radius: 12px;
  overflow: hidden;
  /* position: relative; */
}

.slide-img img {
  width: 100%;
  height: 162px;
  /* display: block; */
}

/* 북마크 버튼 스타일 */
.bookmark-button {
  position: absolute;
  top: 0;

  right: 19px;
  border: none;
  /* border-radius: 50%; */
  width: 25px;
  height: 37px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
  padding: 0;
  /* background-color: transparent; */
}

.bookmark-icon {
  width: 25px;
  height: 37px;
}

/* 위치 정보 컨테이너 */
.location-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-name {
  padding: 14px 8px;
  border-radius: 7px;
}


.info-wrapper {
  display: flex;
  color: white;
}

.location-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.distance-info {
  font-size: 10px;
}